.List {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 5rem;
}

.List h2 {
  letter-spacing: 0.01em;
  margin-bottom: 1.5rem;
  color: #012839;
}
.LinksWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--green-dark);
}

.LinksWrapper:nth-of-type(1) {
  border-top: 2px solid var(--green-dark);
}

.LinksWrapper span:nth-of-type(1),
.LinksWrapper span:nth-of-type(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.LinksWrapper span:nth-of-type(1) {
  color: var(--green-dark);
  max-width: 70%;
}

.LinksWrapper span:nth-of-type(2) {
  color: var(--blue-dark);
  text-align: right;
}

.Load {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #779593;
  align-self: center;
  margin-top: 1.5rem;
  cursor: pointer;
}

.Selected {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 1024px) {
  .LinksWrapper span:nth-of-type(2) {
    color: var(--blue-dark);
    text-align: center;
  }

  .List h2 {
    margin-bottom: 2.25rem;
  }

  .Load {
    margin-top: 2.5rem;
  }

  .LinksWrapper span:nth-of-type(1) {
    max-width: none;
  }
}
