.Faq {
  border-bottom: 1px solid var(--green-dark);
}

.FaqWrapper {
  height: 760px;
}

.Faq:last-of-type {
  border-bottom: 0;
}

.Question {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.Faq:nth-of-type(1) .Question {
  padding-top: 0rem;
}

.Question p,
.Answer p {
  line-height: 150%;
  color: var(--gray-light);
}

.Question p {
  letter-spacing: 0.01em;
  text-transform: uppercase;
  max-width: 254px;
  font-weight: 600;
}

.Answer p {
  margin-bottom: 1rem;
  max-width: 34rem;
}

.Answer {
  overflow: hidden;
  max-height: 0;
}

.Open {
  max-height: 300px;
  transition: all 0.9s ease-in-out;
}

.Question svg {
  position: absolute;
  right: 0;
  top: 0%;
  transform: translateY(16px);
}

.Faq:nth-of-type(1) .Question svg {
  transform: translateY(0px);
}

.Question svg:nth-of-type(1) {
  z-index: 1;
}

.Question svg:nth-of-type(2) {
  z-index: 2;
}

.Faq .Question .Active {
  color: #aac4b9;
  max-width: 254px;
}

@media screen and (min-width: 768px) {
  .FaqWrapper {
    height: 545px;
  }

  .Question p {
    max-width: none;
  }

  .Faq .Question .Active {
    color: #aac4b9;
    max-width: none;
  }
}

@media screen and (min-width: 1024px) {
  .Question p,
  .Faq .Question .Active {
    max-width: none;
  }

  .Question p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    white-space: nowrap;
  }

  .FaqWrapper {
    height: 525px;
  }

  .Question svg {
    top: 50%;
    transform: translateY(-50%);
  }

  .Faq:last-of-type {
    border-bottom: 1px solid var(--green-dark);
  }

  .Faq:nth-of-type(1) .Question svg {
    transform: translateY(calc(-50% - 8px));
  }
}

@media screen and (min-width: 1440px) {
  .Question p {
    text-overflow: unset;
    overflow: auto;
    width: 100%;
    white-space: nowrap;
  }
}
