.BlogPosts {
  padding: 5rem 0;
}

.Grid {
  display: flex;
  position: relative;
}

.BlogCards {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  flex-direction: column;
}

.Heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.Heading h2 {
  color: var(--blue-dark);
}

.Heading a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--green-dark);
}
.Heading h2 {
  color: #012839;
}

.BlogCards > div {
  width: 100%;
}

.BlogCards div a > div:nth-of-type(2) > p:nth-of-type(1) {
  transition: all 0.5s ease;
}

.BlogCards div:hover a > div:nth-of-type(2) > p:nth-of-type(1) {
  color: var(--green-dark);
}

.Grid .ScrollSvgWrapper {
  position: absolute;
  right: 0px;
  bottom: -4rem;
  cursor: pointer;
}

.Grid .ScrollSvgWrapper svg {
  width: 36px;
  height: 36px;
}

@media screen and (min-width: 768px) {
  .BlogCards {
    gap: 2.5%;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .Grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
  }

  .Heading {
    margin-bottom: 2.25rem;
  }

  .GridItem {
    grid-area: 1 / 2 / 2 / 12;
  }

  .BlogCards {
    flex-direction: row;
  }

  .Grid .ScrollSvgWrapper svg {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .BlogCards {
    gap: 4.5rem;
  }

  .Grid .ScrollSvgWrapper {
    bottom: -2rem;
  }
}
