.ImageWrapper {
  position: relative;
  height: 280px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.ImageWrapper img {
  transition: all 0.5s ease;
}

.ImageWrapper:hover img {
  transform: scale(1.1);
}

.CardTitle {
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  max-width: 20rem;
}

.CardDescription {
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  color: var(--gray-dark);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(119, 149, 147, 0.2);
  width: 100%;
}

.CardDetailsWrapper {
  display: flex;
  padding-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.CardDetailsWrapper > div:nth-of-type(1) {
  display: flex;
  align-items: center;
}

.CardDetailsWrapper > div:nth-of-type(1) svg {
  margin-right: 0.5rem;
}

.CardDetailsWrapper p {
  font-size: 0.875rem;
  line-height: 114%;
  letter-spacing: 0.1px;
  /* color: var(--gray-light); */
}

.CardDetailsWrapper p span {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .CardDetailsWrapper {
    justify-content: space-evenly;
  }

  .ImageWrapper {
    height: 220px;
  }

  .CardDescription {
    width: fit-content;
  }
}

@media screen and (min-width: 992px) {
  .ImageWrapper {
    height: 19.44em;
  }

  .CardTitle {
    letter-spacing: 0.01em;
  }

  .CardDescription {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .CardDescription {
    width: 20rem;
  }

}

@media screen and (min-width: 1440px) {
  .CardDetailsWrapper {
    justify-content: space-between;
    
  }


}
