.HeaderSectionWrapper {
  position: relative;
}

.FixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--gray-light);
  z-index: 11;
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 8;
  padding-top: 40px;
  padding-bottom: 26px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  z-index: 12;
}

.HeaderWrapperForBlogCmsPage {
  padding-bottom: 25px;
}

.LogoWrapper {
  width: 77px;
  height: 44px;
  position: relative;
}

.LogoWrapperAlternative {
  width: auto;
  padding-top: 9px;
  height: 0;
}

.LogoWrapper {
  cursor: pointer;
}

.LinksWrapper {
  display: none;
  flex-direction: column;
}

.Link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--gray-dark);
  transition: all 0.2s ease;
}

.Link:hover {
  color: var(--dark);
}

.MobileMenu {
  position: absolute;
  background-color: var(--gray-light);
  width: 100%;
  padding: 2rem;
  top: 0px;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  left: -999px;
  transition: all 0.5s ease-in-out;
  z-index: 6;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.MobileMenu.Open {
  left: 0;
}

.MobileMenu a:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.MenuButtonWrapper {
  width: 1.5rem;
  height: 0.75rem;
  display: flex;
  margin-right: 22px;
  margin-top: 13px;
  position: relative;
  cursor: pointer;
}

.MenuButtonWrapper span {
  width: 100%;
  height: 1px;
  /* background-color: #012839; */
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.MenuButtonWrapper span:nth-of-type(1) {
  top: 0;
  transform-origin: 5.5px 3px;
}

.MenuButtonWrapper span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.MenuButtonWrapper span:nth-of-type(3) {
  bottom: 0;
  transform-origin: 5.5px -2px;
}

.Link {
  opacity: 0;
  font-size: 20px;
}

.Link.AnimateLink {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.AnimateLink:nth-of-type(1) {
  transition-delay: 0.5s;
}

.AnimateLink:nth-of-type(2) {
  transition-delay: 0.75s;
}
.AnimateLink:nth-of-type(3) {
  transition-delay: 1s;
}
.AnimateLink:nth-of-type(4) {
  transition-delay: 1.25s;
}
.AnimateLink:nth-of-type(5) {
  transition-delay: 1.5s;
}

.AnimateHamburger span:nth-of-type(1) {
  transform: rotate(45deg);
}

.AnimateHamburger span:nth-of-type(2) {
  transform: translateX(-30px);
  opacity: 0;
}

.AnimateHamburger span:nth-of-type(3) {
  transform: rotate(-45deg);
}

.LogoAlternative {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9726px;
  line-height: 22px;
  letter-spacing: 0.0075em;
  color: #dfdfe0;
}

@media screen and (min-width: 1024px) {
  .LogoWrapper {
    width: 100px;
    height: 63px;
  }

  .HeaderWrapper {
    padding: 2.5rem 0;
    align-items: center;
  }

  .MenuButtonWrapper {
    display: none;
  }

  .LinksWrapper {
    display: flex;
  }

  .LinksWrapper .Link {
    opacity: 1;
  }

  .MobileMenu {
    display: none;
  }

  .Link {
    font-size: 0.875rem;
  }
}

@keyframes link-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
