.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.LogoWrapper {
  width: 100px;
  height: 60px;
  position: relative;
}

.LinksWrapper {
  display: flex;
  flex-direction: column;
}

.Link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--gray-dark);
}
