.HeroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:97.5em;
}

.HeroSection p{
    width: 55rem;
    margin-top: 5.75rem;
    margin-bottom: 10rem;
    font-size: 2.25rem;
    
}

.LinksWrapper {
    position:absolute;
    display: flex;
    z-index: 5;
    transform: rotate(-90deg);
    gap: 0.75rem;
    top: 239px;
    right: 1070px;

}

.Link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    color: var(--gray-dark)
}

.HeroWrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.ImageWrapper {
    width: 92em;
    height: 500px;
    position:relative;
    margin-bottom: 1rem;
}