.HeroSectionWrapper {
  padding: 0;
  color: #012839
}

.HeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

.ProjectPageTitle {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.01em;
}

.HeroSection p {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 7.875rem;
  font-size: 2.25rem;
  padding: 0 1rem;
  color: #012839;

}

.HeroWrapper h1 {
  padding: 0 1rem;
}

.Link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--gray-dark);
}

.HeroWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.SwitchOrder {
  flex-direction: column-reverse;
}

.SwitchOrder h1 {
  margin-bottom: 2.5rem;
  color: var(--gray-light);
  padding-top: 14px;
  text-transform: capitalize;
}

.SwitchOrder .ImageWrapper {
  margin-bottom: 1.5rem;
}

.ImageWrapper {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 1rem;
}

.ProjectPageImageWrapper {
  width: calc(100% - 32px);
  margin: 0 auto;
}

.LinksWrapper {
  position: absolute;
  display: flex;
  z-index: 5;
  transform: rotate(-90deg);
  gap: 0.75rem;
  top: 239px;
  left: calc(-150px + 1rem);
}

.ProjectInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  gap: 2.5rem;
}

.ProjectInfoWrapper > div:nth-of-type(1) {
  margin-right: auto;
}

.ProjectInfoWrapper > div:nth-of-type(2) {
  display: flex;
  width: 100%;
}

.Dot {
  position: absolute;
  top: 0;
  right: 16px;
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: block;
  margin-left: 6rem;
}

.Details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Detail {
  display: flex;
  flex-direction: column;
  min-width: 74px;
  gap: 0.5rem;
}

.Detail span {
  text-transform: uppercase;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--gray-light);
}

.Detail span:nth-of-type(1) {
  margin-right: 1rem;
  color: var(--gray-dark);
}

.Detail:not(:last-of-type) {
  margin-right: 0rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .ProjectPageTitle {
    font-size: 6.94em;
    line-height: 121%;
  }

  .Detail span {
    font-size: 0.875rem;
    
  }

  .SwitchOrder h1 {
    padding-top: 0px;
  }

  .HeroSectionWrapper {
    padding: 0 3.88em;
    max-width: 1440px;
  }
  .HeroSection p {
    width: 55rem;
    margin-top: 5.75rem;
    margin-bottom: 10rem;
  }

  .HeroWrapper h1 {
    padding: 0;
  }

  .LinksWrapper {
    left: calc(-150px + 2.06rem);
  }

  .ProjectPageImageWrapper {
    margin: 0;
    width: 100%;
  }

  .Detail {
    flex-direction: row;
    min-width: auto;
  }

  .ProjectInfoWrapper {
    flex-direction: row;
    padding: 0;
    gap: 0rem;
  }

  .Dot {
    position: relative;
    right: 0px;
    height: 1rem;
    width: 1rem;
  }

  .Detail:not(:last-of-type) {
    margin-right: 5rem;
  }

  .ProjectInfoWrapper > div:nth-of-type(2) {
    width: auto;
  }
}
