.Subscribe {
  width: 100%;
  position: relative;
  padding-top: 0rem;
}

.Subscribe .FormWrapper {
  padding: 0;
}

.Subscribe > span {
  position: relative !important;
  height: 250px !important;
}

.Form {
  background-color: var(--brown-dark);
  padding: 2.5rem 1rem;
  z-index: 1;
  position: relative;
  max-width: 40.93rem;
}

.Form h3 {
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--gray-light);
  margin-bottom: 1rem;
}

.Form p {
  max-width: 27rem;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: var(--gray-dark);
}

.Form p:nth-of-type(2) {
  font-size: 14px;
  line-height: 140%;
}

.InputWrapper {
  margin: 1.5rem 0 1rem;
  width: 100%;
  max-width: 27rem;
  position: relative;
}

.InputWrapper input,
.InputWrapper button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
}

.InputWrapper input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0.625rem 0 0.625rem 1.5rem;
}

.InputWrapper input::placeholder {
  color: var(--gray-dark);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0.015em;
}

.InputWrapper button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0.625rem 20px;
  background: var(--green-dark);
  border: 0;
  text-transform: uppercase;
  color: var(--gray-light);
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 120px;
}

.InputWrapper button:hover {
  background-color: var(--blue-dark);
}

.Error {
  color: #ff3333;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .Form {
    max-width: none;
  }
}

@media screen and (min-width: 1024px) {
  .Subscribe > span {
    position: absolute !important;
    height: auto !important;
  }

  .Subscribe .FormWrapper {
    padding: 0 3.88em;
  }

  .Form {
    padding: 2.5rem 0 2.5rem 7rem;
  }

  .InputWrapper button {
    max-width: none;
    padding: 0.625rem 3rem;
  }

  .Subscribe {
    padding-top: 5rem;
  }

  .Form {
    max-width: 655px;
  }
}
