.HeroWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.HeroWrapper h2 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #012839;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.HeroWrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #012839;
  margin-bottom: 0rem;
  max-width: 27rem;
}

.ImageWrapper {
  position: relative;
  width: 100%;
  height: 30rem;
  display: none;
}
.ArrowDotWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: center;
}
.ArrowWrapper {
  position: relative;
  width: 2.5rem;
  height: 1.125rem;
}

.Dot {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #012839;
  border-radius: 100%;
}

.ReadingDuration {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 0.25rem;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 2px;
  overflow: hidden;
  z-index: 8;
  width: calc(100% - 32px);
  margin: 0px auto 1.5rem;
}

.Duration {
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  z-index: 1;
  background-color: var(--green-dark);
}

@media screen and (min-width: 1024px) {
  .HeroWrapper {
    margin-top: 0px;
  }

  .ImageWrapper {
    display: block;
  }

  .HeroWrapper p {
    margin-bottom: 1.5rem;
  }

  .Dot {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #012839;
    border-radius: 100%;
  }

  .ReadingDuration {
    display: none;
  }

  .HeroWrapper h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

@media screen and (min-width: 1280px) {
  .HeroWrapper h2 {
    margin-bottom: 1.5rem;
  }
}
