.InspirationWrapper {
  position: relative;
  overflow: hidden;
}

.Inspiration {
  padding: 5rem 1rem 0;
  position: relative;
  z-index: 1;
}

.InspirationDescriptionWrapper {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
}

.InspirationDescriptionImageMain {
  grid-column: 1 / 6;
  height: 450px;
  width: 100%;
  position: relative;
}

.TextWrapper {
  margin-left: 0rem;
  max-width: 224px;
}

.TextWrapper h2 {
  color: var(--white);
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.TextWrapper p {
  font-weight: 600;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--gray-dark);
  margin-bottom: 2.5rem;
}

.ImageWrapperStyleAbsolute {
  position: relative;
  width: 269px;
  height: 280px;
  margin-left: auto;
  transform: translateX(16px);
}

.InspirationImagesWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 5rem 0;
}

.GridImageWrapper {
  position: relative;
  height: 23.37rem;
  width: 100%;
}

.GridImageWrapper:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 13;
  height: 226px;
}
.GridImageWrapper:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 7;
  height: 262px;
}
.GridImageWrapper:nth-of-type(3) {
  grid-area: 2 / 7 / 3 / 13;
  height: 262px;
}
.GridImageWrapper:nth-of-type(4) {
  grid-area: 3 / 1 / 4 / 7;
  height: 262px;
}
.GridImageWrapper:nth-of-type(5) {
  grid-area: 3 / 7 / 4 / 13;
  height: 262px;
}
.GridImageWrapper:nth-of-type(6) {
  grid-area: 4 / 1 / 5 / -1;
  height: 226px;
}

.InspirationWrapper svg {
  position: absolute;
  z-index: 0;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

@media screen and (min-width: 768px) {
  .InspirationWrapper svg {
    top: 46%;
    left: 32%;
  }
  
}

@media screen and (min-width: 1024px) {
  .InspirationDescriptionWrapper {
    display: grid;
  }
  

  .InspirationDescriptionImageMain {
    height: 43.75rem;
  }

  .InspirationWrapper svg {
    display: block;
  }

  .TextWrapper {
    margin-left: 5rem;
    max-width: 100%;
  }

  .TextWrapper h2 {
    margin-bottom: 9.75rem;
    margin-top: 0rem;
  }

  .TextWrapper p {
    margin-bottom: 0rem;
  }

  .Inspiration {
    padding: 5rem 3.88em 0;
  }

  .ImageWrapperStyleAbsolute {
    position: absolute;
    width: 23.75rem;
    height: 25rem;
    right: -3.88em;
    top: 11.25rem;
  }

  .GridImageWrapper:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 6;
    height: 23.37rem;
  }
  .GridImageWrapper:nth-of-type(2) {
    grid-area: 1 / 6 / 2 / 10;
    height: 23.37rem;
  }
  .GridImageWrapper:nth-of-type(3) {
    grid-area: 1 / 10 / 2 / 13;
    height: 23.37rem;
  }
  .GridImageWrapper:nth-of-type(4) {
    grid-area: 2 / 1 / 3 / 4;
    height: 23.37rem;
  }
  .GridImageWrapper:nth-of-type(5) {
    grid-area: 2 / 4 / 3 / 8;
    height: 23.37rem;
  }
  .GridImageWrapper:nth-of-type(6) {
    grid-area: 2 / 8 / 3 / 13;
    height: 23.37rem;
  }

  .InspirationWrapper svg {
    top: 45%;
    left: 55%;
 
  }
}
