.ProjectDetailsWrapper {
  position: relative;
}

.ProjectDetails {
  border-top: 2px solid var(--green-dark);
}

.GirdItemWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.Grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--green-dark);
  position: relative;
}

.Grid > div > div:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 4;
}
.Grid > div > div:nth-of-type(2) {
  grid-area: 1 / 4 / 2 / 12;
}
.Grid > div > div:nth-of-type(3) {
  grid-area: 1 / 12 / 2 / 13;
}

.Grid span {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--green-dark);
  border-radius: 50%;
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.GridItem p {
  line-height: 140%;
  font-size: 0.875rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--green-dark);
}

.GridItem:nth-of-type(1) {
  display: flex;
  align-items: flex-end;
}

.GridItem:nth-of-type(2) p {
  color: var(--gray-light);
}

.NavigateWrapper {
  padding: 5rem 0rem 8rem;
  display: flex;
}

.PrevProjectWrapper {
  grid-column: 2/5;
  height: 40px;
  position: relative;
  width: auto;
  z-index: 2;
  cursor: pointer;
  margin-right: 1.5rem;
}

.NextProjectWrapper {
  grid-column: 9/12;
  position: relative;
  width: auto;
  z-index: 2;
  cursor: pointer;
}

/* .ArrowWrapper {
  transform: rotate(180deg) !important;
}

.ArrowWrapperRight {
  transform: rotate(360deg) !important;

} */

.PrevProjectWrapper > span:nth-of-type(1) {
  transform: rotate(360deg) !important;
}

.PrevProjectWrapper > span:nth-of-type(1),
.NextProjectWrapper > span:nth-of-type(1) {
  position: absolute !important;
  opacity: 0 !important;
  z-index: 0 !important;
  top: -32px !important;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.NextProjectWrapper:hover > span:nth-of-type(1) {
  opacity: 1 !important;
  transform: rotate(-10deg);
}

.PrevProjectWrapper:hover > span:nth-of-type(1) {
  opacity: 1 !important;
  transform: rotate(350deg) !important;
}

.PrevProjectWrapper p,
.NextProjectWrapper p {
  line-height: 140%;
  font-size: 0.875rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--gray-light);
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
}

.PrevProjectWrapper h3,
.NextProjectWrapper h3 {
  color: var(--gray-light);
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
  height: 80px;
}

.PrevProjectWrapper > span {
  transform: rotate(180deg);
}

.ProjectDetailsWrapper svg {
  position: absolute;
  right: 3.88em;
  bottom: 3rem;
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 1024px) {
  .Grid > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    width: 100%;
  }

  .GirdItemWrapper {
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }

  .Grid span {
    position: relative;
    right: 0;
    top: 0%;
    transform: translateY(0%);
  }

  .NavigateWrapper {
    padding: 7.5rem 0 16.56rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .PrevProjectWrapper h3,
  .NextProjectWrapper h3 {
    height: auto;
  }

  .PrevProjectWrapper,
  .NextProjectWrapper {
    width: 100%;
  }

  .PrevProjectWrapper {
    margin-right: 1.5rem;
  }
  .ProjectDetailsWrapper svg {
    position: absolute;
    right: 3.88em;
    bottom: 3rem;
    cursor: pointer;
    display: block;
  }
}
