.Btn {
  padding: 0.75rem 3rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.Primary {
  color: var(--gray-light);
  background-color: var(--green-dark);
}

.Secondary {
  color: var(--gray-light);
  background-color: var(--dark);
}
