.Input input {
  background: transparent;
  border: 1px solid var(--gray-dark);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  width: 100%;
  color: var(--gray-light);
  outline: none;
}

.Input input:focus {
  border: 1px solid var(--green-dark);
}

.Input input::placeholder {
  text-transform: uppercase;
  color: var(--gray-dark);
}

.Error {
  color: #ff3333;
  font-size: 12px;
}
