.TextArea textarea {
  font-family: "Inter";

  background: transparent;
  border: 1px solid var(--gray-dark);
  border-radius: 4px;
  padding: 0.75rem 1rem;
  width: 100%;
  resize: none;
  outline: none;
  color: var(--gray-light);
  max-height: 200px;
}

.TextArea textarea::placeholder {
  text-transform: uppercase;
  color: var(--gray-dark);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.TextArea textarea:focus {
  border: 1px solid var(--green-dark);
}
